header {
    background: linear-gradient(to right, rgba(57, 139, 206), rgba(25, 10, 74));
}

#submit-btn {
    opacity: 0.5;
    transition: all .25s;
}

#submit-btn:hover {
    opacity: 1;
}

.forecast {
    background-color: rgb(67, 72, 100);
}

#history-btns button {
    background-color: rgb(196, 196, 196);
}

#history-btns button:hover {
    background-color: rgb(131, 131, 131);
}

.bg-orange {
    background-color: rgb(219, 99, 18);
}

.bg-purple {
    background-color: purple;
}

#current-uv {
    padding: 1px 10px;
}