header {
    background: linear-gradient(to right, rgba(57, 139, 206), rgba(25, 10, 74));
}

#submit-btn {
    opacity: 0.5;
    transition: all .25s;
}

#submit-btn:hover {
    opacity: 1;
}

.forecast {
    background-color: rgb(67, 72, 100);
}